<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>

    <!-- Menu Bar Section -->
    <section id="MenuBar" class="w3-top w3-bar w3-black w3-hide-small w3-padding-small">

        <!-- Menu Bar Logo -->
        <div id="MenuBar_Logo">
            <a href="#account.html" class="w3-bar-item w3-display-left"><img src="../_source/logo.png" alt="logo" style="width: 50%"></a>
        </div>

        <!-- Menu Bar Buttons -->
        <div id="MenuBar_Buttons" class="w3-right">
            <a href="index.html" class="w3-bar-item w3-button">Sign Out</a>
        </div>

    </section>


    <!-- Account Management Section -->
    <section id="AccountManagement" class="w3-section">

        <div class="w3-display-container w3-padding-top-24">

            <!-- Profile Side Bar Section -->
            <div id="AccountManagement_SideBar" class="w3-black w3-bar-block w3-sidebar" style="width: 15%">

                <!-- Profile Side Bar Sections Items -->
                <a href="#" class="w3-bar-item w3-center"><i class="fa fa-user-circle"></i></a>
                <a class="w3-button w3-bar-item w3-center">Username</a>
                <a class="w3-button w3-bar-item w3-center">Settings</a>

            </div>

            <!-- Management Options Section -->
            <div id="AccountManagement_Services" class="w3-container w3-black w3-opacity-min w3-padding-large" style="margin-left: 15%">

                <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16">Management Services</h1>

                <div id="Management_Employees" class="w3-col l3 m6 w3-margin-bottom" >
                    <img src="../_source/image_1.png" alt="img_management_employees" style="width: 60%" class="w3-image w3-round">
                    <p><b>Employees Management</b></p>
                </div>

                <div id="Management_Jobs" class="w3-col l3 m6 w3-margin-bottom">
                    <img src="../_source/image_2.webp" alt="img_management_jobs" style="width: 60%" class="w3-image w3-round">
                    <p><b>Jobs Management</b></p>
                </div>

            </div>

        </div>

    </section>


</body>
<footer>

</footer>
</html>