<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Sign In</title>
</head>
<body>

  <!-- Menu Bar Section -->
  <section id="MenuBar" class="w3-top w3-bar w3-black w3-hide-small w3-padding-small">

    <!-- Menu Bar Logo -->
    <div id="MenuBar_Logo">
      <a href="index.html" class="w3-bar-item w3-display-left"><img src="../_source/logo.png" alt="logo" style="width: 50%"></a>
    </div>

    <!-- Menu Bar Buttons -->
    <div id="MenuBar_Buttons" class="w3-right">
      <a href="index.html" class="w3-bar-item w3-button">Home</a>
      <a href="index.html" class="w3-bar-item w3-button">About</a>
      <a href="#Contact" class="w3-bar-item w3-button">Contact</a>
    </div>

  </section>


  <!-- Sign In Section -->
  <section id="SignIn">

    <!-- Sign In Images -->
    <div class="w3-display-container">

      <!-- Form Background Image -->
      <img src="../_source/image_home.webp" alt="img" style="width: 100%">

    </div>


    <!-- Sign In Form -->
    <div id="SignIn_Form" class="w3-container w3-padding-large w3-display-middle w3-black w3-opacity-min w3-round">

      <form>
        <p>Username:</p>
        <input class="w3-input" type="text" placeholder="Your Username" required name="Username">
        <p>Password:</p>
        <input class="w3-input" type="password" placeholder="*******" required name="Password">

      </form>
      <br>

      <button class="w3-button w3-deep-orange" type="submit" style="width: 264px">Sign In</button>
      <br>
      <br>
      <a href="signup.html" style="color: orangered">Create Account</a>

    </div>

  </section>

</body>
<footer>
  <!-- Contact Section -->
  <section id="Contact" >
    <div class="w3-container w3-center w3-padding-32 w3-black">
      <h2>Contact</h2>
      Cartago, Costa Rica<br>
      Phone: (+506) 0000 0000<br>
      Email: karolyi15@hotmail.com
    </div>

  </section>
</footer>
</html>